 <div class="container">
    <div class="header">
        <div clas="form-control " >
            <!--search functionality -->
            <h4 style="text-align: center;">List Of Users</h4>
            <br>
            <input class="form-control" type="text" placeholder="search text here"[(ngModel)]="filter" >
            <!-- {{filter}} -->
        </div>
        <!-- <a [routerLink]="" class="btn btn-outline-secondary" style="float:right; margin-top: 10px; margin-bottom: 10px;">Add
            Employee</a> -->
    </div>
    <br>
    <table class="table table-bordered table-striped table-warning">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>loginId</th>
                <th>Action</th> <!--  for edit and delete -->
            </tr>
        </thead>
        <tbody>
            <tr Service *ngFor="let exp of expensetrackerService.users | filter: filter| paginate:{itemsPerPage: 4,currentPage: page}">
                <td>{{exp.UserId}}</td>
                <td>{{exp.Username}}</td>
                <td>{{exp.Phoneno}}</td>
                <td>{{exp.Email}}</td>
                <td>{{exp.Useraddress}}</td>
                <td>{{exp.LoginId}}</td>
                <td>
                    <!-- button -->
                    <!-- <button class="btn btn-sm btn-info" (click)="updateEmployee(emp.EmployeeId)">Edit</button> -->
                    &nbsp;
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteUser(exp.UserId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    </div> 
    <div class="footer">
        <!-- pagination -->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
