<div class="container-fluid mt-3 p-4">
    <div class="side">

        <div class="messages">
            <button routerLink="/userlist" type="button" class="rec">View User Details</button>

        </div>
        <div class="messages">
            <button routerLink="/itemlist" type="button" class="mymatch">View Items in decreasing order of cost</button>

        </div>
        <div class="messages">
            <button routerLink="/expenselist" type="button" class="info">List of expenses for previous 2 months</button>

        </div>

		<div class="messages">
            <button routerLink="/login" routerLink="/expense" type="submit" class="managephoto">Expenselist</button>
        </div>

        <div class="messages">
            <button routerLink="/categories" type="submit" class="edit ">Category</button>

        </div>
        






    </div>
    <!-- <div class="content">
			<div class="card">
				<div class="user">
					<img class="user" src="Images/mymatch.jpg" alt=" new match" />
					<div class="profile">
						<div class="name">New Match <span>20</span></div>
						<div class="local">

							<span>Amritsar</span>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="user">
					<img class="user" src="Images/mymatch.jpg" alt=" new match" />
					<div class="profile">
						<div class="name">New Match <span>26</span></div>
						<div class="local">

							<span>New Delhi</span>
						</div>
					</div>
				</div>
			</div>

		</div> -->


</div>