<div class="container">
    <div class="header">
        <div clas="form-control " >
            <!--search functionality -->
            <h4 style="text-align: center;">List Items in Decreasing order of price</h4>
            <br>
            <input class="form-control" type="text" placeholder="search text here"[(ngModel)]="filter" >
            <!-- {{filter}} -->
        </div>
    </div>
    <br>
    <table class="table table-bordered table-striped table-warning">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th> Rate</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr Service *ngFor="let exp of expensetrackerService.items | filter: filter| paginate:{itemsPerPage: 4,currentPage: page}">
                <td>{{exp.ItemId}}</td>
                <td>{{exp.Itemname}}</td>
                <td>{{exp.Itemcost}}</td>
                <td>{{exp.Categoryname}}</td>
                
            </tr>
        </tbody>
    </table>
    
    </div> 
    <div class="footer">
        <!-- pagination -->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>

