<h5 style="text-align: right; color: rgb(59, 35, 82);">LoginId: {{loggedId}}</h5>
<div class="container mt-3 p-2">
    
    <div class="side">
        

        <div class="messages p-2">
            <button  class="rec">Edit Account details</button>
    
        </div>
        <div class="messages">
            <button routerLink="/itemlist" type="button" class="mymatch">Delete Account</button>
    
        </div>
        <div class="messages p-2">
            <button routerLink="/expenselist" type="button" class="info">Add New Expenselist</button>
    
        </div>
        <div class="messages p-2">
            <button routerLink="/expenselist" type="button" class="info">Logout</button>
    
        </div>
    
    </div>

</div>